{
  "accessKey": "",
  "secretKey": "",
  "managerConfig": {
    "port": 80,
    "instanceType": "c1.medium"
  },
  "id": "",
  "email": "museeer@gmail.com",
  "inputQueue": "",
  "visibilityTimeoutPolicy" : {
      "visibilityTimeoutInitial": 100,
      "visibilityTimeoutStep": 10,
      "visibilityTimeoutLimit": 36000
  }
  "outputQueue": "",
  "outputTopic": "",
  "errorQueue": "",
  "errorTopic": "",
  "notificationTopic": "",
  "instructionsDependencyLine": "\"ohnosequences\" % \"scriptexecutor_2.10\" % \"0.2.0\"",
  "instructionsObject": "ohnosequences.nispero.ScriptExecutor",
  "bucket": "",
  "workersStateTable": "",
  "workersGroup": {
    "name": ""
    "minSize": 1,
    "maxSize": 2,
    "desiredCapacity": 1,
    "launchingConfiguration": {
        "name": "",
        "spotPrice": 0,
        "instanceSpecs": {
            "instanceType": "c1.medium",
            "amiId": "ami-3c5f5748",
            "keyName": "",
            "securityGroups": [],
            "deviceMapping": {
                "/dev/xvdb": "ephemeral0"
            }
            "userData": ""
        }
    }
  },
  "workersDir": "/media/ephemeral0",
  "terminationConditions": {
    "terminateAfterInitialTasks": false,
    "resultsLimit": 3
  },
  "deletionPolicy": {
    "bucket": true,
    "inputQueue": true,
    "outputQueue": true,
    "outputTopic": true,
    "errorQueue": true,
    "errorTopic": true,
    "farmStateTable": true,
    "workersGroup": true,
    "notificationTopic": true,
    "securityGroups": true,
    "keyPair": false
  }

}
